<!DOCTYPE html>

<body>
	<head>
	</head>
	<body>
		<div>
			<form action="/add" method="POST">
				<textarea name="quote" placeholder="Quote" style="width:300px;height:70px;"></textarea>
				<input type="text" name="artist" placeholder="Artist" />
				<input type="text" name="track" placeholder="Track" />
				<input type="text" name="year" placeholder="Year" />
				<input type="submit" name="submit" value="Add" />
			</form>
		</div>
	</body>
</body>